/* home indicator */
.container .indicator img {
    position: absolute;
    bottom: 0;
}


/* title */
main .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--gr40);
    padding: 0 25px;
}

main .title span {
    width: 26px;
    height: 26px;
    background-color: transparent;
}


/* catalog */
main .catalog {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-inline: 27px;
    justify-content: space-between;
    align-items: center;
}

/* product */
main .catalog .product {
    width: 180px;
    height: 241px;
    box-shadow: var(--sm);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

main .catalog .product .img-top {
    width: 100%;
    height: 153px;
    padding: 0px 6px;
    box-shadow: var(--sm);
    background-color: var(--ne00);   
    border-radius: 8px 8px 13px 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

main .catalog .product .img-top img.thing {
    position: relative;
    transition: all  0.13s ease-out;
}

main .catalog .product .img-top img.thing:hover {
    scale: 1.12;
}

main .catalog .product .img-top .fav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--ne00);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-right: 0 10px 20px 0;
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 99;
    transition: all  0.10s ease-out;
}

main .catalog .product .img-top .fav img {
    width: 20px;
    height: 20px;    
}

main .catalog .product .img-top .fav:hover img {
    filter: brightness(0.8);
}


main .catalog .product .desc {
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 8px;
}

main .catalog .product .desc .text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: end;
    width: 128px;
}

main .catalog .product .desc .text .star {
    display: flex;
    align-items: center;
    gap: 5px;
}

main .catalog .product .desc .text .star p {
    line-height: 0;
    margin: 0;
}

main .catalog .product .desc .text h2 {
    line-height: 0;
    margin: 0;
}

main .catalog .product .desc .text h2:last-child {
    color: var(--gr60);
}

main .catalog .product .desc .text h2 span {
    color: var(--ne30);
}

main .catalog .product .desc .plus {
    background-image: url('../images/icons/plus.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
    background-color: var(--yell10);
}

main .catalog .product .desc .plus:hover {
    background-color: var(--yell30);
}